[submodule "teensy/cores"]
	path = teensy/cores
	url = https://github.com/GrayShade/cores.git
[submodule "teensy/libraries/LibHumidity"]
	path = teensy/libraries/LibHumidity
	url = https://github.com/GrayShade/LibHumidity.git
